<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <base href="<%= process.env.BASEURL %>/">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 20px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand" ><a class="h4" href="">PodScript</a></span>
        <div class="ml-auto">
          <% if (typeof feeds !== 'undefined') { %>
            <a class="nav-item mx-2" href="opml" target="_blank"  >OPML</a>
          <% } %>
          <% if (typeof feed !== 'undefined') { %>
            <a class="nav-item mx-2" href="rss?id=<%= feed.id %>" target="_blank">RSS</a>
            <a class="nav-item mx-2" href="items/refresh/<%= feed.id %>" >Refresh</a>
          <% } %>
          <a class="nav-item mx-2" href="add" >Add a feed</a>
        </div>
    </nav>
