<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="feedurl" id="feedurl" placeholder="http://" required>
                </div>
                <div class="form-group col-md-4">
                    <select id="type" name="type" class="form-control" >
                        <option selected>youtube</option>
                        <option>bilibili</option>
                        <option>wechat</option>
                        <option>other</option>
                    </select>
                </div>
            </div>
          <button type="submit" class="btn btn-primary float-right">Add new feed</button>
        </form>
    </div>
</div>
</body>
</html>
