<% include partials/header.ejs %>
<% if (message != '') { %>
    <p class="text-center text-danger"><%= message %></p>
<% } %>
<% if (gmesg != '') { %>
<p class="text-center text-success"><%= gmesg %></p>
<% } %>
    <div class="table-wrapper">
        <% if (feeds.length > 0) {%>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Title</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Interval</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% feeds.forEach((feed, index) => { %>
                        <tr>
                            <th scope="row"> <a href="<%= feed.link %>" target="_blank"><%= index %></a></th>
                            <td><%= feed.type %></td>
                            <td><%= feed.title %></td>
                            <% var date = new Date(feed.last_update*1.0) %>
                            <td><%= date.toLocaleString() %></td>
                            <td>
                              <form id="<%= feed.id %>" action="interval/<%= feed.id %>" method="POST">
                                <input value="<%= feed.refresh_interval %>" onblur="submitForm('<%= feed.id %>')" type='number' min='1' name='interval' style="width:36px" size='2'/> h
                              </form>
                            </td>
                            <td>
                                <a href="items/<%= feed.id %>" class="btn btn-sm btn-success">details</a>
                                <a href="items/refresh/<%= feed.id %>" class="btn btn-secondary btn-sm">Refresh</a>
                                <a href="rss?id=<%= feed.id %>" class="btn btn-sm btn-info" target="_blank">RSS</a>
                                <a href="delete/<%= feed.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Delete?')">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No feed found. Go <a href="add" >here</a> to add Feeds.</p>
        <% } %>
    </div>
</div>
</body>
<script type="text/javascript">
  function submitForm(id) {
    document.getElementById(id).submit(); // using ID
  }
</script>
</html>
