<% include partials/header.ejs %>
<% if (message != '') { %>
    <p class="text-center text-danger"><%= message %></p>
<% } %>
    <div class="table-wrapper">
        <% if (items.length > 0) {%>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Thumnail</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item, index) => { %>
                        <tr>
                            <th scope="row"><a href="<%= item.link %>" target="_blank"><%= index %></a></th>
                            <% var date = new Date(item.pubdate*1.0) %>
                            <% if (feed.type.split(':')[0] == 'yt') { %>
                              <td>
                                <a href="<%= item.link %>" target="_blank">
                                  <img src="https://i.ytimg.com/vi/<%= item.id %>/mqdefault.jpg" width='150' >
                                </a>
                                <br><%= date.toLocaleString() %>
                              </td>
                            <% } else { %>
                              <td><img src="thumbs?id=<%= item.id %>" width='150' ></td>
                            <% } %>
                            <td><%= item.title %></td>
                            <td>
                              <% if (cachefile.indexOf(item.id+'.webm') >= 0) {%>
                                <a href="delete/<%= feed.id %>/<%= item.id %>" class="btn btn-sm btn-warning">Delete</a>
                              <% } else { %>
                                <a href="download/<%= item.id %>" class="btn btn-sm btn-info">Cache</a>
                              <% } %>
                                <a href="download?id=<%= item.id %>" class="btn btn-sm btn-primary">Download</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No item found. <a href="items/refresh/<%= feed.id %>" >Refresh</a> </p>
        <% } %>
    </div>
</div>
</body>
</html>
