<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
  <head>
      <title>PodCript</title>
  </head>
  <body>
    <% feeds.forEach((feed, index) => { %>
      <outline text="<%= feed.title %>"  type="rss" xmlUrl="<%= hostUrl %><%= process.env.BASEURL %>/rss?id=<%= feed.id %>" htmlUrl="<%= feed.link %>" description=""/>
    <% }) %>
  </body>
</opml>
