<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
  <channel>
    <title><%= feed.title %></title>
    <generator>podcript 0.0.0</generator>
    <% var fdate = new Date(feed.last_update*1.0) %>
    <pubDate><%= fdate.toISOString() %></pubDate>
    <id><%= feed.id %></id>
    <link><%= feed.link %></link>
    <% if (feed.type.split(':')[0] == 'yt') { %>
      <% items.forEach((item, index) => { %>
          <item>
              <title><%= item.title %></title>
              <description><%= item.description %></description>
              <% var date = new Date(item.pubdate*1.0) %>
              <pubDate><%= date.toISOString() %></pubDate>
              <link><%= item.link %></link>
              <guid><%= hostUrl %><%= process.env.BASEURL %>/download?id=<%= item.id %></guid>
              <enclosure url="<%= hostUrl %><%= process.env.BASEURL %>/download?id=<%= item.id %>" type="audio/mpeg" />
              <media:thumbnail url="https://i.ytimg.com/vi/<%= item.id %>/mqdefault.jpg"  />
              <itunes:image href="https://i.ytimg.com/vi/<%= item.id %>/mqdefault.jpg"  />
          </item>
        <% }) %>
      <% } else { %>
        <% items.forEach((item, index) => { %>
            <item>
                <title><%= item.title %></title>
                <description><%= item.description %></description>
                <% var date = new Date(item.pubdate*1.0) %>
                <pubDate><%= date.toISOString() %></pubDate>
                <link><%= item.link %></link>
                <guid><%= hostUrl %><%= process.env.BASEURL %>/download?id=<%= item.id %></guid>
                <enclosure url="<%= hostUrl %><%= process.env.BASEURL %>/download?id=<%= item.id %>" type="audio/mpeg" />
                <media:thumbnail url="<%= hostUrl %><%= process.env.BASEURL %>/thumbs?id=<%= item.id %>"  />
                <itunes:image href="<%= hostUrl %><%= process.env.BASEURL %>/thumbs?id=<%= item.id %>"  />
            </item>
          <% }) %>
      <% } %>
  </channel>
</rss>
